<section class="dresscode-details-wrapper">
  <div class="dresscode-details">
    <div class="dresscode-message">
      <img
        class="mesa-de-trabajo-13-1"
        loading="lazy"
        alt=""
        src="assets/mesa-de-trabajo-13-1.svg"
      />
    </div>
    <div class="dresscode-request">
      <h2 class="vestimenta">Vestimenta</h2>
      <div class="dresscode-description">
        <div class="para-esta-ocasin">
          Para esta ocasión especial, les pedimos a nuestros queridos invitados
          que se vistan de manera formal y elegante, reflejando la importancia y
          el encanto del evento.
        </div>
      </div>
    </div>
  </div>
</section>
