<section class="r-s-v-p">
  <div class="r-s-v-p-details">
    <div class="r-s-v-p-message">
      <img
        class="r-s-v-p-message-child"
        loading="lazy"
        alt=""
        src="assets/group-1.svg"
      />
    </div>
    <h2 class="confirma-tu-asistencia">Confirma tu Asistencia</h2>
    <div class="r-s-v-p-date">
      <div class="por-favor-confirmar-container">
        <p class="por-favor-confirmar">
          Por favor confirmar su asistencia antes del [14-01-2025].
        </p>
        <p class="por-favor-confirmar">
          Nos encantaría compartir este día especial con ustedes.
        </p>
        <p class="por-favor-confirmar">
          Para confirmar su asistencia, haga clic en el botón a continuación.
        </p>
      </div>
    </div>
    <div class="r-s-v-p-button-icon-parent">
      <button
        class="r-s-v-p-button-icon"
        (click)="onRSVPButtonIconClick()"
      ></button>
      <div class="confirmar">Confirmar</div>
    </div>
  </div>
</section>
