<div class="content">
  <div class="contenedor">
    <img src="assets/flower-lr.png" alt="" class="flower-left" />
    <img src="assets/flower-lr.png" alt="" class="flower-right" />
    <div class="text-content">
      <p class="text-title">
        Waldo <br />
        y Durby
      </p>
      <p class="text-versiculo">
        <!-- Uno solo puede ser vencido, pero dos pueden <br />
        resistir. ¡La cuerda de tres hilos no se rompe <br />
        facilmente! -->
        Uno solo puede ser vencido, pero dos <br />
        pueden resistir. ¡La cuerda de tres hilos <br />
        no se rompe facilmente!
      </p>
      <p class="text-descript-vers">Eclesiastés 4:12</p>
    </div>
  </div>
  <div class="content-date">
    <img src="assets/fecha.svg" alt="" class="date-img" />
  </div>

  <div class="content-ramo">
    <img src="assets/ramo-center.png" class="ramo-center" alt="" />
  </div>

  <div class="content-family">
    <img src="assets/flower-lr.png" alt="" class="flower-left-second" />
    <img class="img-novios" src="assets/icons/novios.svg" alt="" />
    <p class="family-title">
      Con la bendicion de Dios <br />
      y nuestro queridos padres
    </p>
    <p class="text-parents">Padres del Novio</p>
    <p class="text-parents-husband">
      Cristóbal Calle Guanaco <br />
      Julia Mamani de Calle
    </p>
    <p class="text-parents">Padres de la Novia</p>
    <p class="text-parents-whife">
      Juan Rene Limachi Salazar <br />
      Placida Juana Ortiz Pabon
    </p>
  </div>
  <div class="content-family padrinos-text">
    <p class="family-title">Y en compañia de nuestros padrinos</p>
    <p class="text-parents">Padrinos de Civil</p>
    <p class="text-parents-husband">
      Wilder Gutiérrez Carrillo <br />
      Malena Espejo Lima
    </p>
    <img src="assets/flower-lr.png" alt="" class="flower-right-second" />
    <p class="text-parents">Padrino de Torta</p>
    <p class="text-parents-husband">Benito Limachi Ticona</p>
  </div>

  <div class="content-family">
    <img class="img-novios" src="assets/icons/ceremonia.svg" alt="" />
    <p class="family-title">Ceremonia Civil y Recepción</p>
    <p class="text-parents-husband date-text">
      Hora: 13:30 p.m. <br />
      Hotel Rey Palace <br />
      Sopocachi, Av 20 de octubre <br />
      y landaeta N° 1947
    </p>
    <a
      class="btn button-defect"
      href="https://maps.app.goo.gl/zUy7ASL6ULwv6TKG8"
      >Ver mapa</a
    >
  </div>

  <div class="content-family">
    <img class="img-novios" src="assets/icons/Regalo.svg" alt="" />
    <p class="family-title">Regalos</p>
    <p class="text-parents-husband text-padding-p">
      Para nosotros, su presencia en este día tan especial es el mayor regalo
      que podemos recibir. Sin embargo, si desean honrarnos con un obsequio, lo
      agradeceremos de todo corazón.
    </p>
    <button
      type="button"
      class="btn button-defect"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Cuenta Bancaria
    </button>
  </div>

  <div class="contenedor-roses">
    <img src="assets/flower-lr.png" alt="" class="flower-left-third" />
  </div>
  <div class="content-family">
    <img class="img-novios" src="assets/icons/copas.svg" alt="" />
    <p class="family-title">Confirma tu Asistencia</p>
    <p class="text-parents-husband text-padding-p">
      Por favor, confirme su asistencia antes del 14 de enero de 2025. Nos
      encantaría compartir este día especial con usted. Para confirmar su
      asistencia, haga clic en el botón a continuación.
      <br>
      <a
        class="btn button-defect"
        target="_blank"
        href="https://docs.google.com/forms/d/e/1FAIpQLSfT7t50vHxlIGrfDAHTd2nwFgxwewGAtDvH7xgc4XEZmNy26w/viewform"
        >Confirmar</a
      >
    </p>
  </div>

  <div class="content-attire">
    <img class="img-novios" src="assets/icons/novios-mano.svg" alt="" />
    <p class="family-title-white">Vestimenta</p>
    <p class="text-parents-husband-white">
      Para esta ocasión especial, les pedimos a nuestros queridos invitados que
      se vistan de manera formal y elegante, reflejando la importancia y el
      encanto del evento.
    </p>
  </div>

  <div class="content-family">
    <p class="family-title">Con Respeto</p>
    <p class="text-parents-husband text-padding-p">
      Aunque apreciamos a sus pequeños, hemos decidido celebrar este momento sin
      niños. Esperamos que esta decisión no les impida acompañarnos y celebrar
      juntos nuestro día especial.
    </p>
  </div>

  <div class="content-hands"></div>

  <div class="contenedor-roses">
    <img src="assets/flower-lr.png" alt="" class="flower-right-third" />
  </div>

  <div class="content-family">
    <p class="family-title">Cronograma</p>
    <img class="img-novios-crono" src="assets/cronograma.svg" alt="" />
  </div>
  <div class="contenedor-roses">
    <img src="assets/flower-lr.png" alt="" class="flower-left-third" />
  </div>

  <div class="content-family">
    <p class="family-title">Gracias por acompañarnos</p>
    <p class="text-parents-husband text-padding-p">
      Estamos emocionados de compartir este momento 
      especial con ustedes. ¡Esperamos celebrar juntos esta 
      hermosa unión y crear recuerdos inolvidables!
    </p>
    <p class="text-parents con-cari">Con cariño, Waldo y Durby</p>
  </div>

  <div class="img-footer">
    <img class="gatitos-img" src="assets/gatitos.svg" alt="" />
  </div>


  <div class="audio-player">
    <audio #audioPlayer src="assets/temita.mp3"></audio>
    <button [class]="isPlaying ? 'pause-button'  : 'play-button'" (click)="togglePlayPause(audioPlayer)">
      <i [class]="isPlaying ? 'bi bi-pause-fill' : 'bi bi-play-fill'"></i>
    </button>
    <!-- <p>{{ currentTime }} / {{ duration }}</p> -->
  </div>




  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content modal-background">
        <!-- <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cuenta Bancaria</h5>
        </div> -->
        <div class="modal-body">
          <div class="title-modal">
            LIMACHI ORTIZ <br />
            DURBY PAOLA <br />
            Caja de Ahorro <br />
            1311550149 Moneda: Bs <br />
            Banco Ganadero
            <img src="assets/qr-image.png" alt="" />

            <button
              type="button"
              class="btn button-defect-second"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
          </div>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-primary">Guardar Cambios</button>
        </div> -->
      </div>
    </div>
  </div>
</div>
