<section class="gallery-details-wrapper">
  <div class="gallery-details">
    <div class="image-grid">
      <div class="image-row">
        <div class="img-20240906-231148-1"></div>
        <img
          class="fotos-de-bodapng222-1-icon"
          loading="lazy"
          alt=""
          src="assets/fotosdebodapng222-1@2x.png"
        />
      </div>
    </div>
    <div class="frame-parent">
      <div class="event-list-parent">
        <div class="event-list">
          <div class="event-details">
            <div class="event-item">
              <img
                class="ceremonia-1-icon"
                loading="lazy"
                alt=""
                src="assets/ceremonia-1.svg"
              />
              <div class="event-time">
                <div class="event-time-icon"></div>
              </div>
            </div>
          </div>
          <div class="event-item1">
            <div class="event-details1">
              <h3 class="llegada-de-invitados">Llegada de invitados</h3>
              <div class="time">
                <div class="pm1">14:30Pm</div>
              </div>
            </div>
          </div>
          <div class="schedule-background"></div>
        </div>
        <div class="schedule-title">
          <div class="schedule-image">
            <img
              class="pngwingcom-7-9"
              loading="lazy"
              alt=""
              src="assets/pngwingcom-7-5@2x.png"
            />
            <h1 class="cronograma">Cronograma</h1>
          </div>
        </div>
        <img
          class="anillos-1-icon"
          loading="lazy"
          alt=""
          src="assets/anillos-1.svg"
        />
      </div>
      <div class="civil-ceremony-block">
        <div class="civil-ceremony-details">
          <div class="civil-ceremony-time">
            <div class="civil-ceremony-time-value-parent">
              <div class="civil-ceremony-time-value">
                <h3 class="ceremonia-civil">Ceremonia Civil</h3>
              </div>
              <div class="password-field">
                <div class="groom-and-bride-image">
                  <div class="groom-and-bride-container">
                    <img
                      class="novios-123-1"
                      loading="lazy"
                      alt=""
                      src="assets/novios-123-1@2x.png"
                    />
                    <div class="bride-image-container">
                      <div class="event-time-icon"></div>
                    </div>
                  </div>
                </div>
                <div class="pm1">15:30Pm</div>
              </div>
            </div>
          </div>
          <div class="reception-details">
            <div class="ceremonia-religiosa-parent">
              <h3 class="ceremonia-religiosa">Ceremonia Religiosa</h3>
              <div class="pm3">15:30Pm</div>
              <div class="frame-inner"></div>
              <div class="pm4">20:00Pm</div>
              <div class="rectangle-div"></div>
              <div class="dinner">
                <h1 class="cena">Cena</h1>
                <img
                  class="pngwingcom-7-8"
                  loading="lazy"
                  alt=""
                  src="assets/pngwingcom-7-7@2x.png"
                />
              </div>
              <img
                class="torta-1-icon"
                loading="lazy"
                alt=""
                src="assets/torta-1.svg"
              />
              <img
                class="group-icon"
                loading="lazy"
                alt=""
                src="assets/group-1-1.svg"
              />
              <div class="frame-child1"></div>
              <h1 class="brindis">Brindis</h1>
              <div class="pm5">18:30Pm</div>
              <img
                class="comida-1-icon"
                loading="lazy"
                alt=""
                src="assets/comida-1.svg"
              />
            </div>
          </div>
          <div class="cake-cutting-details">
            <div class="farewell-block">
              <div class="farewell-details">
                <div class="farewell-time">
                  <div class="farewell-time-details">
                    <div class="farewell-time-value">
                      <div class="farewell-image">
                        <div class="farewell-image-details">
                          <img
                            class="ceremonia-1-icon"
                            loading="lazy"
                            alt=""
                            src="assets/ceremonia-1.svg"
                          />
                          <div class="event-time">
                            <div class="event-time-icon"></div>
                          </div>
                        </div>
                        <div class="farewell-time-block">
                          <div class="farewell-time-details1">
                            <h1 class="despedida">Despedida</h1>
                            <div class="farewell-time-value-container">
                              <a class="pm6">23:30Pm</a>
                            </div>
                          </div>
                          <div class="cake-cutting-background"></div>
                        </div>
                      </div>
                    </div>
                    <div class="schedule-background"></div>
                  </div>
                  <div class="cake-time-block">
                    <div class="cake-time">
                      <div class="pm7">22:00Pm</div>
                      <div class="cake-image-container">
                        <img
                          class="torta-2-icon"
                          loading="lazy"
                          alt=""
                          src="assets/torta-1.svg"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="schedule-image">
                <img
                  class="pngwingcom-7-10"
                  loading="lazy"
                  alt=""
                  src="assets/pngwingcom-7-5@2x.png"
                />
                <h1 class="torta">Torta</h1>
              </div>
            </div>
            <div class="cake-cutting-time">
              <h1 class="ceremonia-civil">Torta</h1>
            </div>
            <div class="cake-cutting-time1">
              <div class="pm1">22:00Pm</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
