<div class="android-medium-1">
  <img
    class="transaparente-2-icon"
    alt=""
    src="assets/transaparente-2@2x.png"
  />
  <img
    class="pngwingcom-7-2"
    loading="lazy"
    alt=""
    src="assets/pngwingcom-7-2@2x.png"
  />
  <img
    class="pngwingcom-7-3"
    loading="lazy"
    alt=""
    src="assets/pngwingcom-7-2@2x.png"
  />
  <img
    class="pngwingcom-7-7"
    loading="lazy"
    alt=""
    src="assets/pngwingcom-7-7@2x.png"
  />
  <div class="guest-name">18</div>
  <h2 class="con-la-bendicion-container">
    <p class="con-la-bendicion">Con la bendicion de Dios</p>
    <p class="con-la-bendicion">y nuestro queridos padres</p>
  </h2>
  <h2 class="ceremonia-civil-y">Ceremonia Civil y Recepción</h2>
  <div class="juan-rene-limachi">Juan Rene Limachi Salazar</div>
  <div class="rectangle-parent">
    <div class="frame-child"></div>
    <img
      class="flores-y-rosas-2949-1-icon"
      alt=""
      src="assets/floresyrosas2949-1@2x.png"
    />
  </div>
  <div class="details"></div>
  <div class="details1"></div>
  <div class="details2"></div>
  <div class="details3"></div>
  <div class="details4"></div>
  <div class="details5"></div>
  <div class="details6"></div>
  <div class="vector-parent">
    <img class="frame-item" alt="" src="assets/rectangle-1.svg" />
    <div class="couple-name-parent">
      <section class="couple-name">
        <h1 class="waldo-y-durby-container">
          <p class="con-la-bendicion">Waldo</p>
          <p class="con-la-bendicion">y Durby</p>
        </h1>
      </section>
      <section class="bible-verse">
        <div class="uno-solo-puede-ser-vencido-pe-parent">
          <div class="uno-solo-puede">
            Uno solo puede ser vencido, pero dos pueden resistir. ¡La cuerda de
            tres hilos no se rompe facilmente!
          </div>
          <div class="source">
            <div class="eclesiasts-412">Eclesiastés 4:12</div>
          </div>
        </div>
      </section>
      <div class="date-details-wrapper">
        <div class="date-details">
          <div class="date-time">
            <div class="day-time">
              <div class="date-time-shapes"></div>
              <h3 class="sbado">SÁBADO</h3>
            </div>
            <div class="day-time">
              <div class="date-time-shapes"></div>
              <div class="pm">13:00 Pm</div>
            </div>
          </div>
          <div class="month-year">
            <div class="enero">ENERO</div>
            <div class="month-year-shapes"></div>
            <div class="month-year-shapes1"></div>
          </div>
        </div>
      </div>
      <section class="pngwingcom-7-4-wrapper">
        <img
          class="pngwingcom-7-4"
          loading="lazy"
          alt=""
          src="assets/pngwingcom-7-4@2x.png"
        />
      </section>
      <frame-component> </frame-component><rsvp> </rsvp
      ><frame-component1> </frame-component1>
      <section class="kids-details-wrapper">
        <div class="kids-details">
          <h2 class="con-respeto">Con Respeto</h2>
          <div class="kids-message">
            <div class="aunque-apreciamos-a-container">
              <p class="con-la-bendicion">
                Aunque apreciamos a sus pequeños hemos decidimos celebrar este
                momento sin niños.
              </p>
              <p class="con-la-bendicion">
                Deseamos que esta decisión no les impida asistir y celebrar
                nuestro día.
              </p>
            </div>
          </div>
        </div>
      </section>
      <frame-component2> </frame-component2>
      <section class="gratitude">
        <div class="gratitude-message">
          <h1 class="con-respeto">Gracias por acompañarnos</h1>
          <div class="closing-message">
            <div class="closing-message-details">
              <div class="estamos-emocionados-de">
                Estamos emocionados de compartir este momento especial con
                ustedes. ¡Esperamos celebrar juntos esta hermosa unión y crear
                recuerdos inolvidables!
              </div>
              <h3 class="con-cario-waldo">Con cariño, Waldo y Durby</h3>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="details7"></div>
  <footer class="final-image">
    <img class="foto-fin-1-icon" alt="" src="assets/fotofin-1@2x.png" />
    <img
      class="gatitos-1-icon"
      loading="lazy"
      alt=""
      src="assets/gatitos-1.svg"
    />
  </footer>
</div>
